/*ROOT START*/
:root {
    /*--grey-main-color: white;*/
    --grey-main-color: #1a1f25;
    --ligth-main-color: #e6b333;
    --logo-width: 100px;
    --table-bg: #ffffff;
    --form-bg: #f9e09e;
    --table-bg-hover: #d1d2d3;
}

/*ROOT END*/

/*DEFAULT START*/
html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 0 1fr;
}

header {
    background-color: var(--ligth-main-color);
    box-shadow:20px 20px 20px 15px green;
}

main {
    background-color: var(--grey-main-color);
}

/*DEFAULT END*/

.logo {
    width: var(--logo-width);
}

.table-color {
    background-color: var(--table-bg);
}

table thead {
    background-color: #e6b333;
    color: var(--grey-main-color);;
}

.table-color:hover {
    background-color: var(--table-bg-hover);
    transition: 1s;
}

.margin-0-auto {
    margin: 0 auto;
}

.bg-task {
    background-color: var(--bg);
}

.word-wrap {
    word-break: break-all;
}

.grid-t-r {
    display: grid;
    grid-template-rows: 1fr 0;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

.homework-title {
    text-align: center;
}

.statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 1rem;
}

.pagination {
    width: 100%;
    margin: 0 auto;
}

.pagination-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--ligth-main-color);
}

.pagination span, .pagination a {
    padding: 5px;
    color: #000000;
}
.fill-bg{
    background-color: var(--table-bg);
    padding: 30px 10px;
}


